/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  /* background: url(../src/assets/img/background.jpg) !important; */
  /* background-position: bottom; */
  /* position: fixed; */
  background-size: cover !important;
  height: 100%;
}
::-ms-input-placeholder { /* Edge 12-18 */
  color: white;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}
legend , span , label{
  color: white !important;
  font-weight:bold !important;
}
fieldset {
  border: 0.1px solid white !important;
}
.res-label {
  color: hsl(340deg 100% 32%) !important;
}
header .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.wrap-text {
  overflow-wrap: break-word !important;
}
.result {
  color: #242424;
  font-size: large;
  text-align: left;
  padding-left: 2%;
}
.result-res {
  background: #f5f1f1;
  border-radius: 30px;
  color: #242424;
}
input {
  background: #383737 !important;
  /* border: 8px solid white !important; */
  /* border-radius: 15px !important; */
  width: 100% !important;
}
input::placeholder {
  color: white;
}
.content {
  position: fixed;
  top: 20%;
  left: 0;
  height: 80% !important;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 10%;
}
.footer .submit-btn {
  display: flex;
  justify-content: center;
  bottom: 4%;
  position: fixed;
  right: 1%
}
.MuiTextField-root {
  top: 5px !important;
}
.lang-select {
  right: 0 !important;
  position: absolute !important;
  color: white !important;
}
/* header design starts */
header {
  box-shadow: 10px 5px 33px 0px black !important;
  /* background: hsl(340deg 100% 32%) !important; */
  border-radius: 0px 0px 10px 10px !important;
}
header h1 {
  animation:breathanimation 3s infinite;
}
button {
  animation:breathanimation-btn 3s infinite;
  /* background: hsl(340deg 100% 32%) !important; */
  border-radius: 0px 0px 10px 10px !important;
}
@keyframes breathanimation-btn {
  0% {
    font-size:12px;
  }
  50% {
font-size:13px;
  }
  100% {
    font-size:12px;
  }
}
@keyframes breathanimation {
  0% {
    font-size:35px;
  }
  50% {
font-size:38px;
  }
  100% {
    font-size:35px;
  }
}
/* header design ends */
/* button animation starts */
.front {
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
    /* animation:breathanimation 3s infinite; */
}

.pushable:active .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

/* .pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
} */
.pushable:focus:not(:focus-visible) {
  transition:
  transform
  600ms
  cubic-bezier(.3, .7, .4, 1);
}
/* button animation ends */

/* spinning animation starts */
.loading-animation {
  animation: rotate-animation 1s infinite linear !important;
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* spinning animation ends */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 100%;
  min-height: 100%; */
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
