/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.body {
  font-family: monospace !important;
}
#root {
  height: 100%;
}
.css-1dgpa8w-MuiContainer-root {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-header {
  width: 100%;
  height: 15%;
  justify-content: center;
  /* align-items: center; */
  /* display: flex; */
}
.home-page {
    /* width: 80%;
    position: fixed; */
        width: 80%;
    position: absolute;
    top: 15%;
    height: 84%;
    align-content: center;
}
.css-1fzlhpv-MuiGrid2-root {
  justify-content: center;
    display: flex;
    align-items: center;
    .field-name {
      display: block;
    }
}

.res-label {

}
#outlined-basic-label { /* hidding label of texthox */
 display: none;
}
.insert-form {
  
}
.footer {
  /* bottom: 5px;
  right: 5px; */
  /* position: fixed; */
  /* bottom: 0; */
  width: 99.9%;
  /* height: 18%; */
  margin-top: 2%;
  display: flex;
  /* justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid white; */
  /* left: 0; */
}
