body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.settings-icon {
  right: 5%;
  position: fixed;
}
.top-right {
  top:2%;
  right: 5%;
  position: fixed;
}
.settings-list {
  left: 0;
  top: 12%;
  span {
    color: white;
    font-weight: bold;
  }
  
  .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: white;
    font-weight: bold;
  }
}
.css-b7dj7n-MuiList-root {
  position: fixed !important;
  overflow: auto;
    height: 80%;
}
/* .field-name {
  color: aliceblue;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: white;
}
fieldset * {
  color:white !important
} */
.css-1xp5r68-MuiFormControl-root-MuiTextField-root * {
  color: white !important;
}
.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root { /*label in input */
 /* color: white !important; */
}
.css-1fzlhpv-MuiGrid2-root {
  /* border: 1px dotted; */
  padding-bottom: 1%;
}
input::placeholder {
  /* color:white !important */
}
.css-14ln1j6-MuiListItemText-root .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  /* color: white !important; */
}
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: black;
}